@model IEnumerable<Staff>

@{
    ViewData["Title"] = "List of Staffs";
}

<div class="row">
    <div class="col-md-12 offset-md-0">

        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Id)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Address)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Position)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.ServiceDate)</th>


                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.ServiceDate)
                        </td>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                            </td>
                        }

                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Staffs")